files=(shell.nix src/dev/shell.nix)

watch_file "${files[@]}"

sum_files () {
  sha256sum "$@" | sha256sum | cut -d ' ' -f 1
}

sum="$(sum_files "${files[@]}")"
sum_file=".direnv/sum-$sum"

if [[ -a "$sum_file" ]] && [[ -h .direnv/shell ]]; then
  . <(nix print-dev-env ".direnv/shell" 2>/dev/null || rm "$sum_file")
else
  drv="$(nix-instantiate shell.nix --add-root .direnv/shell)"
  . <(nix print-dev-env "$drv" 2>/dev/null && rm -f .direnv/sum-* && touch "$sum_file")
fi
